* {
  box-sizing: border-box;
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a:hover{
  text-decoration: underline;
}

.opciones a:hover {
  text-decoration: underline;
  color: #2CFCA7;
  font-size: 30px;
}


body {
 background-color:#1E1A19;

}

/*HEADER */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(0,0,0, 0.7);
  width: 100%;
  position: fixed;
  height: 100px;
  z-index: 1000;
  margin-bottom: 4%;

}


.logo{
  width: 17%;
  position: relative;
  bottom: 70%;
  right: 2%;


}
.logo img {
  width: 100%;
}

nav {
  font-family:"Arial";
  font-size: 25px;
  width: 40%;
  position: relative;
  left: 36%;
  top: 29%;
  height: 60px;

}



ul.Paginas {
 display: flex;
 flex-direction:row;
 justify-content: space-between;
 width: 100%;

}

.Paginas li {
  position: relative;
  width: 30%

}

.Paginas a {
  color:white;
  font-size: 25px;
}


.buscador {
  position: relative;
  right: 40%;
  width: 35%;
  height: 50px;
  top: 25%;

}



.buscador-form {
  position: relative;
  width: 100%;
  height: 90%
}

#busqueda-input {
  width:86%;
  height: 100%;
  border-radius: 10px;
  border-width: medium;
  position: relative;
  border-color: #2CFCA7;
  background-color: black;
  color: white;


}

#busqueda-input::-webkit-input-placeholder {
  font-size: 15px;
  font-family: Arial;
  text-align: center;
  color: grey;
}

#busqueda-boton {
  width: 10%;
  border-radius: 15%;
  height: 100%;
  background-color:black;
  font-family: Arial;
  font-weight: normal;
  border-color:#2CFCA7;
  color: white;
  position: relative;
  border-width: medium;
}

.login{
  position: relative;
  right: 2%;
  width: 6%;
  top: 25%;

}

#button-login{
  padding: 15%;
  position: relative;
  width: 100%;
  border-radius: 10px;
  border-color: #2CFCA7;
  background-color: black;
  font-family: Arial;
  font-weight: bold;
  font-size: 15px;
  color: white;
  text-align: center;
  border-width: medium;

}

/* SERIES DESCRIPCION */

/* este es el titulo de la pagina */
.descripcion {
  font-family: "Arial";
  font-size: 45px;
  text-align: center;
}
/* esto es titulo de la pagina  + detalles completo */
.details {
  font-family: "Arial";
  font-size: 20px;
  width: 100%;
  padding-top: 110px;
}
/* este es el detalle completo de la serie */
.descri-contenedor{
  width: 100%;
  position: relative;
}

/* este es el detalle de texto y el ver recomendaciones */
.descri {
  width: 45%;
  position: relative;
  left:50%;
  bottom: 750px;
  font-size: 17px;

}

.descri ul{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
}
.listaGen {
  width: 18%;
  margin-left: 3%;
  margin-right: 3%;

}

/* contenedor del poster */
.imagen {
  width: 50%;
}
/* nombre de la serie */
.nomDetalle {
  font-size: 30px;
  color:#2CFCA7;
  text-decoration: underline;
  position: relative;
  left: 3%
}


/* este es el id del genero */
.id-detalles {
  display: none;
}

/* poster */
.imagen-detalles {
  width: 75%;
  position: relative;
  left: 3%;
}

/* este es el trailer */
.youtube {
  position: relative;
  left: 50%;
  top: 140%;
  margin-bottom: 3%;
  width: 50%;
}

/* boton de ver recomendaciones */
#button-reco{
border-radius: 10px;
color: white;
background: black;
border-width: medium;
border-color: #2CFCA7;
padding: 2%;

}

#button-reco:hover{
  color: black;
  background-color: white;
}

/* container de las recomendadas */
.recomend-container{
  position: absolute;
  width: 50%;
  left: 50%;
  top: 105%;
  padding-right: 2%;
}
}

/* posters de las recomendaciones */
.posterRecomend{
  width: 100%;
}




/*FOOTER*/
footer {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: rgba(0,0,0, 0.7);
  width: 100%;
  top: 100%;

}


div.alumnos ul {
 color: grey;
 font-family:"Arial";
 font-size: 18px;
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 position: relative;
 left: 30px;

}

div.alumnos ul li {
 padding: 15px;
 color:white;
}

.Contacto {
 font-family: Arial;
 color: white;
 font-size: 15px;
 position: relative;
 top: 20px;
}

.fab {
 position: relative;
 bottom:20px;
 left: 20px;

}

.TMDB img {
 width: 75%;
 position: relative;
 top:22%;
 left: 8%

}

.TMDB {
 position: relative;
 left: 60%;
 width: 12%;

}
