* {
  box-sizing: border-box;
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a:hover{
  text-decoration: underline;
}



body {
 background: black;
  color: white;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(197,197,197, 0.2);
  width: 100%;


}

nav {
  font-family:"Helvetica";
  font-size: 25px;
}



ul.Paginas {
 display: flex;
 flex-direction:row;
 justify-content: space-between;

}

.Paginas li {
  width: 13.5%
  padding:3%;
  margin:1.5%;
  position: relative;
  top:4%;
  right: 18%;

}

.Paginas a {
  color:#1BF3A8;
  font-size: 25px;
}

div.alumnos ul {
  color: grey;
  font-family:"Helvetica";
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  left: 30px;

}

div.alumnos ul li {
  padding: 15px;
}

#FormBus {
  position: relative;
  top: 115px;

}

input .busqueda {
  width: 20%;

}


.logo img {
  width: 20%;
  position: relative;
  top: 1%;
  margin: 1.5%;
}
.TMDB {
 position: relative;
 left:60%

}
.TMDB img {
  width: 100px;
  position: relative;
  top: 40%;


}

footer {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;

}
